*{
    box-sizing: border-box;
  }
  
  .book{
    text-align: center;
    margin:15px;
    
  }
  .book img{
    text-align: center;
    
  
    
  }
  

.book h4{
    max-height: 55px;
    overflow: hidden;
  }

  .butt button{
    background-color:transparent;
    padding:3px 15px;
    border:0;
    color:#413B89;
    transition:.5s;
    font-size:40px;
    margin:10px
  }
  .butt button:hover{
    color:#219150;
  }
